<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <link rel="stylesheet" href="/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Chat App</title>
  </head>
  <body>
    <%- include ('./partials/main'); %>
    <script src="/socket.io/socket.io.js"></script>
  </body>
  <script src="/js/babble.js"></script>
</html>
