*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-app{
    max-height: 100vh;
    height: 100vh;
}

#user-list {
    overflow-y: scroll;
    max-height: calc(60vh); /* change 220px to adjust the height of the header and leave room button */
}

#chat-display{
    overflow-y: scroll;
    max-height: 70vh;
}

.other-chat-container{
    display: flex;
    justify-content: start;
    margin: 15px 0;
}

.other-chat-bubble{
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

@media screen and (min-width: 1024p) {
    .other-chat-bubble{
        max-width: 32rem;
    }
}